# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/
env.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pyproject & build artifacts
build/
dist/
*.egg-info/
.eggs/

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
